﻿@{
    ViewData["Title"] = "Agregar Producto";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="container mt-5">
    <form method="post" action="@Url.Action("AgregarProducto", "Home")">
        <div class="row">
            <div class="col-md-6">
                <label>Nombre Producto</label>
                <input type="text" name="nombreProducto" class="form-control" placeholder="Nombre Producto" required/>
            </div>
            <div class="col-md-6">
                <div id="selCategoria">
                <label>Seleccione Categoria</label>
                <select onchange="CambiarCat()" class="form-control" name="selCat" id="selCat" required>
                    <option>Seleccione Opción</option>
                    <option value="-1">Nueva Categoria</option>
                    @foreach (PruebaTecnica.Dtos.Models.CategoriaProducto item in Model)
                        {
                            <option value="@item.nombre">@item.nombre</option>
                        }
                </select>
                </div>
                <div id="divCat">
                    <input type="text" id="nuevaCat" name="nuevaCat" class="form-control" placeholder="Nombre nueva Categoria"/>
                </div>
                
            </div>
        </div>
        <hr />
        <div class="row mt-5">
            <div class="col-md text-center">
                <input class="btn btn-success" type="submit" value="Agregar" />
            </div>
        </div>
    </form>
    <script>
        $('#divCat').hide();
    const CambiarCat = () => 
    {
        var opcion = $('#selCat').val();
        console.log(opcion);
        if (opcion == '-1') {
            $('#divCat').show();
            $('#nuevaCat').val('');
            console.log('muestra');
        } else {
            $('#divCat').hide();
            console.log('esconde');
        }
    }
    </script>
</div>
