﻿
@{
    ViewData["Title"] = "Home Page";
    
}
<h1 class="text-center">Almacen</h1>
<hr />
<div class="text-center mt-5">
    <table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre Producto</th>
      <th scope="col">Categoria Producto</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      @foreach (PruebaTecnica.Dtos.Models.Producto item in Model)
        {
            <tr>
              <td>@item.nombre</td>
              <td>@item.CategoriaProducto.nombre</td>
              <td>@item.estado</td>
              <td>
                  <a type="button" href="@Url.Action("EditProduct","Home", new {id = item.IdProducto})" class="btn btn-info">Editar</a>
                  <a type="button" href="@Url.Action("DeleteProduct","Home", new {id = item.IdProducto})" class="btn btn-danger">Cambiar Estado (Borrado Logico)</a>
                  </td>
            </tr>
        }
    
  </tbody>
</table>
</div>
